/* Colors */

// Background colors
$background-midnight-blue: #0F021B;
$background-dark-violet: #2C1746;
$background-vivid-magenta: #FD58FF;
$background-charcoal-black: #180828;
$background-light-gray: #DDDDDD;
$background-pure-white: #FFFFFF;
$background-crimson-red: #E71B32;
$background-electric-yellow: #FAF408;
$background-electric-green: #00FF85;

// Font colors
$font-pure-white: #FFFFFF;
$font-soft-gray: #8A87AA;
$font-lavender-mist: #D7D5EB;
$font-midnight-blue: #0F021B;

// Border colors
$border-purple-slate: #694A81;
$border-midnight-blue: #0F021B;
$border-moss-green: #4CAF50;
$border-fiery-red: #F44336;

// Box-shadow colors
$box-shadow-light: rgba(0, 0, 0, 0.2);

/* Fonts */

// Font sizes
$font-size-xxl: 40px;
$font-size-xl: 32px;
$font-size-lg: 28px;
$font-size-md: 24px;
$font-size-sm: 22px;
$font-size-xs: 20px;
$font-size-xxs: 18px;
$font-size-xxxs: 16px;
$font-size-xxxxs: 14px;

// Font family
$primary-font-family: "Roboto", sans-serif;
$secundary-font-family: "Roboto Mono", monospace;